@font-face{
font-family: 'RedHatText';
src: url('assets/fonts/static/RedHatText-Bold.ttf') format('ttf');
font-weight: bold;
font-style: bold;
}

@font-face{
font-family: 'RedHatText';
src: url('assets/fonts/static/RedHatText-Regular.ttf') format('ttf');
font-weight: Regular;
font-style: Regular;
}

@font-face{
font-family: 'RedHatText';
src: url('assets/fonts/static/RedHatText-semiBold.ttf') format('ttf');
font-weight: semiBold;
font-style: semiBold;
}     

* {
    
    padding: 0;
    margin: 0;
}
h1 {
    color: rgb(134, 134, 226);
    text-align: center;
   
}
.container{
   padding-left: 10%;
   display: grid;
   justify-content: space-around;
   column-gap: 20px;
   row-gap: 15px;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: auto;
}

.ImgCart{
    border-radius: 3%;
    height: 200px;
    width: 200px;
}
.card{
    display: grid;
    gap: 5px;
    justify-items: start;
}

.cart{
    grid-column-start: 4;

}
button{
border-radius: 9999em;
background-color: #fffffe;
border: 1px solid #b0a7a8;
display: flex;
justify-content: center;
padding: 5px 15px;
}

.btn{
    justify-self: start;
    transform: translateY(-23px);
    padding-left: 40px;

}
.cart-icono{
    height: 14px;
    padding-right: 2px;
}
p{
    color: #c73b0f;
     
}