@font-face{
font-family: 'RedHatText-Bold';
src: url('assets/fonts/static/RedHatText-Bold.ttf') format('ttf');
font-weight: bold;
font-style: bold;
}

@font-face{
font-family: 'RedHatText-Regular';
src: url('assets/fonts/static/RedHatText-Regular.ttf') format('ttf');
font-weight: Regular;
font-style: Regular;
}

@font-face{
font-family: 'RedHatText-semibold';
src: url('assets/fonts/static/RedHatText-semiBold.ttf') format('ttf');
font-weight: semiBold;
font-style: semiBold;
}     

* {
    
    padding: 0;
    margin: 0;
}
h1 {
    font-family: 'RedHatText-Bold';
    padding-left: 10%;
    padding: 10% 0% 5% 10%;
}
main{
    background-color: #fcf8f5;
}
.container{
    display: grid;
    grid-template-columns: 60% 20%;
    gap: 10px;
}
.galery{
   padding-left: 10%;
   display: grid;
   justify-content: space-around;
   grid-template-columns: 1fr 1fr 1fr ;
   column-gap: 15px;
   grid-column-start: 1;
}

.ImgCart{
    border-radius: 3%;
    height: 200px;
    width: 200px;
}
.card{
    display: grid;
    gap: 5px;
    justify-items: start;
}

.cart{
 
   padding: 30px;
   background-color: #fffffe;
    grid-column-start: 2;

}
button{
border-radius: 9999em;
background-color: #fffffe;
border: 1px solid #b0a7a8;
display: flex;
justify-content: center;
padding: 5px 15px;
}

.btn{
    justify-self: start;
    transform: translateY(-23px);
    padding-left: 40px;

}
.cart-icono{
    height: 14px;
    padding-right: 2px;
}
span{
    color: #b0a7a8;
}
p{
    color: #ac5241;
    font-family: 'RedHatText-Regular';
    padding-bottom: 20px;
}
